/*// BASE STYLES //*/

html, body{
  height: 100%;
  width:100%;
  overflow: hidden;
  margin: 0;

}

.grass, .sky, .road{
  position: relative;
  
}

.sky{
  height: 40%;
  background: skyblue;
  
}

.grass{
  height: 30%;
  background: seagreen;
  
}

.road{
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
  
}

.lines{
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
  /*animation: wind 10s linear infinite reverse;*/
}

/*// ELEMENTS TO ANIMATE //*/

.mario
{
  position: absolute;
  top: -60px;
  left: -150px;
  /*animation-name: drive;
  animation-duration:9s;
  animation-fill-mode:forward;
  animation-iteration-count:infinite;
  animation-timing-function:linear;*/
  animation: drive 7s linear infinite, jump 0.3s 3.5s ease;
}
/*// KEYFRAMES //*/
@KEYFRAMES drive
{
  from{transform:translateX(0);}
  TO{ transform:translateX(1500px) }
}
.luigi
{
  position: absolute;;
  top: 0px;
  left: -150px;
  animation-name:drive;
  animation-duration:8s;
  animation-fill-mode:both;
  animation-iteration-count:infinite;
  animation-direction:forward;
  animation-timing-function:linear;

}


.cloud1{
  position: absolute;
  width: 200px;
  top: 120px;
  opacity: 0.5;
  animation: wind 88s linear infinite reverse;

}
.cloud2{
  position: absolute;
  width: 200px;
  top: 0px;
 animation: wind 52s linear infinite reverse;
}
@KEYFRAMES wind
{
  from{left: -300px}
  TO{left: 100%}
}

@KEYFRAMES jump
{
0%{top: -60px;}
50%{top: -120px;}
100%{top: -60px;}
}



